<app-row-data-generator (onNewRowData)="changeData($event)"></app-row-data-generator>

<div class="filter-container">
  <app-filter-select placeholder="Select A"
                     [allPossibleItemList]="allPossibleAList"
                     [itemList]="itemListA"
                     (onChangeFilter)="onChangeA($event)"></app-filter-select>
  <app-filter-select placeholder="Select B"
                     [allPossibleItemList]="allPossibleBList"
                     [itemList]="itemListB"
                     (onChangeFilter)="onChangeB($event)"></app-filter-select>
  <app-filter-select placeholder="Select C"
                     [allPossibleItemList]="allPossibleCList"
                     [itemList]="itemListC"
                     (onChangeFilter)="onChangeC($event)"></app-filter-select>
</div>

<ag-grid-angular class="ag-theme-alpine"
                 [columnDefs]="colDef"
                 [rowData]="rowData"
                 [domLayout]="'autoHeight'"
                 [rowHeight]="45"
                 [headerHeight]="45"
                 [suppressContextMenu]="true"
                 (gridReady)="onGridReady($event)"></ag-grid-angular>
